.large-product-view-card {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
}

.large-product-card {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
  background: var(--pure-white);
  display: flex;
  flex-direction: column;
  border: solid 1px var(--border-color);
  max-width: 800px;
}

.large-media {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.large-img {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--bright-green);
  box-sizing: border-box;
  max-width: 800px;
}

.large-product-info {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
  flex: 1;
  display: flex;
  border-top: solid 1px var(--border-color);
}

.large-main-info {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

.large-product-name {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
  font-size: 15px;
  font-weight: 500;
}

.large-product-price {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
  font-size: 14px;
}

.large-desc {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

.large-product-description {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
}

.large-actions {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.large-buttons {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-dark);
  width: 80px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.large-add {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: flex;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  max-height: fit-content;
  max-width: fit-content;
  margin: 10px 5px;
}

.large-remove {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: flex;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  max-height: fit-content;
  max-width: fit-content;
  margin: 10px 5px;
}

.large-material-icons {
  --side-padding: 40px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
  --content-width: 800px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  box-sizing: border-box;
}
